.app {
  display: flex;
  background: var(--bg);
  color: var(--bg-reverse);
}
body.light {
  --primary: #fdd835;
  --primary-alt: #a57c00;
  --bg: #fff;
  --bg-surface: #fff;
  --bg-alt: #f2f2f2;
  --off-background: #eee;
  --bg-reverse: #000;
  --bg-reverse-alt: #212121;
  --border-editor: #cdcdcd;
  --border-run: #cdcdcd59;
  --border-table-cell: #fdd835;
  --border-nav-icons: #212121;
}

body.dark {
  --primary: #fdd835;
  --primary-alt: #a57c00;
  --bg: #1e1e1e;
  --bg-surface: #252525;
  --bg-alt: #2d2d2d;
  --off-background: #444;
  --bg-reverse: #fff;
  --bg-reverse-alt: #eee;
  --border-editor: #eeeeee50;
  --border-run: #454545;
  --border-table-cell: #fdd835de;
  --border-nav-icons: #212121;
}

.app-container {
  display: flex;
  width: calc(100vw - 50px);
}

@media screen and (max-width: 720px) {
  .app-container {
    width: 100%;
    height: calc(100vh - 50px);
  }
  .app {
    flex-direction: column;
    height: 100vh;
  }
}
