.code_container{
  position: relative;
  width: 100%;
  &__textarea{
    border: 2px solid var(--border-editor);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
  }
  &__control_box{
    position: absolute;
    bottom: 25px;
    right: 25px;
    height: 40px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    &__button {
      padding: 5px 10px;
      background: transparent;
      outline: none;
      border:none;
      display: flex;
      align-items: center;
      cursor: pointer;
      &:last-child{
        border: 2px solid var(--border-run);
        border-radius: 5px;
        padding: 5px;
        color: var(--border-run);
        gap: 5px;
        font-size: 16px;
        svg {
          fill: var(--border-run)
        }
        &.focusing, &:active {
          color: var(--bg);
          background: var(--bg-reverse);
          svg{
            fill: var(--bg);
          }
        }
      }
    }
  }
}
.sql_result_container{
  overflow: auto;
  width: inherit;
  margin: 10px;
}