.sql_playground {
  width: calc(100% - 360px);
}
.code_container {
  position: relative;
  width: 100%;
  padding: 10px;
  &__textarea {
    border: 2px solid var(--border-editor);
    border-radius: 5px;
    padding-bottom: 2px;
    width: 100%;
    padding: 10px;
  }
  &__control_box {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    &__button {
      padding: 5px 10px;
      outline: none;
      border: none;
      display: flex;
      align-items: center;
      cursor: pointer;
      &:last-child {
        background: var(--border-run);
        border-radius: 5px;
        color: var(--bg-reverse-alt);
        gap: 5px;
        font-size: 16px;
        svg {
          fill: var(--bg-reverse-alt);
        }
        &.focusing,
        &:active {
          color: var(--bg);
          background: var(--bg-reverse);
          svg {
            fill: var(--bg);
          }
        }
      }
    }
  }
}
.sql_result_container {
  overflow: auto;
  margin: 10px;
}

.monaco-editor .scroll-decoration {
  display: none !important;
}

@media screen and (max-width: 720px) {
  .sql_playground {
    margin-top: 50px;
    width: 100%;
  }
}
