.side_nav {
  width: 50px;
  background: #FCD45B;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px;
  &__nav_btns {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    &:hover {
      background: #a57c00;
    }
  }
}